includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    noEnvCallsOutsideOfConfig: true
    paths:
        - src
    stubFiles:
        - stubs/phpstan/IlluminateDatabaseConnection.stub
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false

extensions:
    sqlImportStubAutowiring: GaiaTools\FulcrumSettings\Tests\PHPStan\SqlImportStubAutowiringExtension

services:
    sqlImportStubFilesProvider:
        class: GaiaTools\FulcrumSettings\Tests\PHPStan\SqlImportStubFilesProvider
        autowired: PHPStan\PhpDoc\StubFilesProvider
